<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ru.trackfon.app"
        versionCode = "10"
        version     = "1.3.0">

    <name>ТЕСТ. TRACKFON</name>

    <description>
        Мощный сервис продвижения в социальных сетях ВКонтакте, Одноклассники, Rutube и YouTube с возможностью
заработка реальных денег.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />


    <platform name="android">
        <icon src="res/android/icon/b88139ae378a3f4c901141a3dcadc7e5.png" density="ldpi" />
        <icon src="res/android/icon/034958e0241abd7efdc3764b8fd93404.png" density="mdpi" />
        <icon src="res/android/icon/be094bf4e9ec4ae75b1fa7dcb7bb1870.png" density="hdpi" />
        <icon src="res/android/icon/a7d8ff632af33b3e4e0032eb8ff07a44.png" density="xhdpi" />
        <icon src="res/android/icon/138fa36a1edac3b2425e1911aa8050a9.png" density="xxhdpi" />
        <icon src="res/android/icon/6520205166f6a7b6d013a243fe065008.png" density="xxxhdpi" />

        <splash src="res/android/screen/b1b15c20d095fa49b5157145a48b62da.png" density="port-hdpi"/>
        <splash src="res/android/screen/e56fab9b497c7e83b5bcc9f9834c9515.png" density="port-ldpi"/>
        <splash src="res/android/screen/80dbd0ad119a00988a3bd6b4c4941bbf.png" density="port-mdpi"/>
        <splash src="res/android/screen/7ab47b793d87864116a59e4b14cd1914.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/fe71baf99c5dbcff5b370092f30b7593.png" width="180" height="180" />
        <icon src="res/ios/icon/5eb3b0c4e76678f6b59953118f5a4c41.png" width="60" height="60" />
        <icon src="res/ios/icon/2eaf61d901b292fbc4b3b2defbe4205f.png" width="120" height="120" />
        <icon src="res/ios/icon/deaa5c90fbe3eb81b1df8763ad6e3880.png" width="76" height="76" />
        <icon src="res/ios/icon/25f45327af1a198c76f71c44814cff96.png" width="152" height="152" />
        <icon src="res/ios/icon/7a47c7ac845b6deb35d3faef56e08593.png" width="57" height="57" />
        <icon src="res/ios/icon/7953c47d7e5df5e83970dcc3cbacb9f4.png" width="114" height="114" />
        <icon src="res/ios/icon/156430da801171692fc5005eef61994b.png" width="72" height="72" />
        <icon src="res/ios/icon/685accbd02d0c4616d54dfbca8b152b2.png" width="144" height="144" />
        <icon src="res/ios/icon/53c414ad792ec8c14a862b34658d5102.png" width="167" height="167" />
        <icon src="res/ios/icon/7ef205420d19f6fcacf44533e6ae0d7e.png" width="29" height="29" />
        <icon src="res/ios/icon/e536b9aed820e02198747580436513b4.png" width="58" height="58" />
        <icon src="res/ios/icon/9fb765f82b518ab7f50587445f681857.png" width="87" height="87" />
        <icon src="res/ios/icon/69b128d679d4afb71b82f273179187dd.png" width="167" height="167" />

        <splash src="res/ios/screen/37f7b0c26c2aa4883b3bbe453c10ba8a.png" />
        <splash src="res/ios/screen/53c3ebc8ffd776c4fd8af8f1651ca40a.png" />
        <splash src="res/ios/screen/77b764d07e7191ecd6bf54d4856e725a.png" />
        <splash src="res/ios/screen/08d7d44827bc13a525dbdc60aee92071.png" />
        <splash src="res/ios/screen/67505ae6c16a7cd51087fea243b82dd5.png" />
        <splash src="res/ios/screen/bad8a2b59433c3d152f491551c2d555d.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/b9059169b16455a0339904bb01f12aea.png" target="StoreLogo" />
        <icon src="res/windows/icon/1043fafa9adffc5d669c3b5f597f0c6f.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/4ba9ae3e73734e4daf659726228e5558.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/6f6075043621d6beac1422bcd2152e96.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/517e4c19e1c72770c15f746f08e8c518.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/53194e025fcf5523f25edce2adfb4a03.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/58814ba166fa1215af672eacbde279ec.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/5d3cbaa1e7d3babd34ab89b7def81797.png" target="SplashScreen"/>
        <splash src="res/windows/screen/f96619ba69b5777872fe4b8bcc174fc7.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>